@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-bg: rgba(19, 9, 85, 1);
  --color-blue: rgba(28, 70, 255, 1);
  --color-pink: rgba(248, 81, 255, 1);
  --color-dark: rgba(25, 5, 96, 1);
  --color-white: rgba(255, 255, 255, 1);
  --color-light: rgba(190, 190, 190, 1);
  --color-yellow: rgba(250, 214, 72, 1);
  --color-success: rgba(5, 161, 85, 1);
  --color-lightgreen: rgb(101, 217, 161);
  --color-grey: rgba(255, 255, 255, 0.25);
  --color-danger: #cf2b02;
  --font: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--color-bg);
  color: var(--color-white);
  font-family: var(--font);
  margin: 0;
}
.d-flex {
  display: flex;
}
.justify-content-center {
  justify-content: center;
}
.text-center {
  text-align: center;
}
.fullWidth {
  width: 100%;
}

button {
  border: 0;
  cursor: pointer;
  display: block;
  outline: none;
  margin: 0;
  padding: 0;
  --webkit-appearance: none;
  transition: all 300ms ease-in-out;
  &:hover:not(:disabled) {
    background: var(--color-light);
  }
  &:disabled {
    cursor: default;
    opacity: 0.15;
  }
}

/* headers */
h1,
h2,
h3 {
  font-size: 30px;
  line-height: 34px;
  font-weight: 500;
  text-align: center;
  margin: 0 0 20px;
}
h1 {
  margin: 0 0 40px;
}
h3 {
  font-size: 22px;
  line-height: 26px;
  margin: 0 0 20px;
}

@media screen and (max-width: 750px) {
  h1,
  h2,
  h3 {
    font-size: 20px;
    line-height: 24px;
  }
  h1 {
    margin: 0 0 20px;
  }
  h2 {
    margin: 0 0 10px;
  }
  h3 {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }
}
